import React from "react";

import styles from "./{{componentName}}.module.css";

interface {{capitalize componentName}}Props { } 

const {{capitalize componentName}} = () => { 
    return <div className={styles.container}>{{capitalize componentName}}</div>;
};

export default {{capitalize componentName}};